.section1{
  min-height: 100vh;   /* full screen */
  background-image: url("images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: cover;
  margin:0;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../source-sans-pro/SourceSansPro-Regular.otf") format("otf"),
       url("../source-sans-pro/SourceSansPro-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
.menuu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}
.menuu ul{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-right: 50px;
    flex-grow: 1;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    font-family: "Source Sans Pro";
    color: blanchedalmond;
    
}
.menuu ul:hover{
    color: #FF6565;
    cursor: pointer;
}
.paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 30px;
    padding: 120px;
    font-family: "Source Sans Pro";
    color: blanchedalmond;
    text-align: center;
    font-size: 1em;
}
.paragraphs span{
    font-weight: bold;
    font-size: 30px;
}
.paragraphs button{
    margin-left:1em;
    margin-right: 1em;
    background-color: rgb(158, 48, 62); border-spacing: 20px;
    border-radius: 20px;
    color: blanchedalmond;
    font-size: 20px;
}
.paragraphs button:hover{
    opacity: 0.9;
}
.second{
    /*min-height: 100vh;
    page-break-before: always;   /* older */
    /*break-before: page;
    padding: 40px;
    background-color: #fff;*/
  min-height: 100vh;      /* NEW SCREEN */
  background-color: #fff;
  padding: 60px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap:50px;
  align-items: center;
    
}
.last-p{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items: center;
    font-size:20px ;
    font-family: "Source Sans Pro";
    text-align: center;
}
.heading-s2{
    font-weight: bold;
    font-size:40px ;
    font-family: "Source Sans Pro";
}
.para-sec{
    font-size:20px ;
    font-family: "Source Sans Pro";
    text-align: center;
}
h2{
    font-size:25px ;
    font-family: "Source Sans Pro";
    text-align: center;
    font-weight: bold;
}
.third{
  min-height: 100vh;      /* NEW SCREEN */
  background-image: url("images/headphones_hero_2.jpg");
  padding: 60px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap:50px;
  align-items: center;
}

.last-z{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    align-items: center;
    font-size:20px ;
    font-family: "Source Sans Pro";
    text-align: center;
    padding: 40px;
    color: #fff;
    
}
.para-third{
    color: #fff;
    font-family: Source Sans Pro;
    text-align: center;
}
.heading-th{
    color: #fff;
    font-family: Source Sans Pro;
    text-align: center;
    font-weight: bold;
    font-size:25px ;
}


.inside-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    

}
.inside-p h2,p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fourth{
  min-height: 80vh;      /* NEW SCREEN */
  background-color: #fff;
  padding: 60px;
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  gap:40px;
  align-items: center;
}
.heading-Fourth{
    font-family: Source Sans Pro;
    font-size: 40px;
    font-weight: 300;
}
.form-f{
    font-family: Source Sans Pro;
    font-size: 100px;
    font-weight: 50;
    color: #000000;
    border-bottom: #000000;

}
.butt{
    margin-left:1em;
    margin-right: 1em;
    background-color: rgb(158, 48, 62); border-spacing: 20px;
    border-radius: 20px;
    color: blanchedalmond;
    font-size: 20px;
}
/* footer css*/
.lfooter{
display: flex;
width: cover;
min-height: 30vh;
background-color: rgba(7, 22, 41, 1);
}
.footer-cont{
    display: flex;
    flex-direction: row;
    gap:1000px;

}
.last-img{
  color:rgba(255, 255,255, 1);
  display:flex;
  justify-content:center;
  padding: 100px;
}
.last-log{
  color:rgba(255, 255,255, 1);
  display:flex;
  justify-content:flex-end;
  align-content:flex-start;
  align-items: center;
  margin-right: 100px;
  margin-top: -100px;
  gap: 20px;
}
.lfooter{
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: center;    /* center horizontally */
  padding: 20px 0;

}
.last-pp{
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 300;
  
}
.pentagon {
    width: 400px;
    height: 400px;
    background-color: #c77f88;

    /* This creates the pentagon */
    clip-path: polygon(
        50% 0%,
        100% 38%,
        82% 100%,
        18% 100%,
        0% 38%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.h2p{
    margin-bottom: 60%;*/