body {
  margin:0;
  padding: 0;
  background-position: top center;
  display: flex;
  justify-content: center;
  background-image: url("images/Object.png");
  width: 1440px;
  height: 1093px;
  position:initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  visibility: visible;
  color:#fcfbfb !important;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  
  align-items: center;
  padding: 20px;
  margin-inline-end: 20px;
  gap: 50px; /* space between logo and menu */
}

nav img {
  margin-right: auto; /* keeps logo on the LEFT */
}

.listoo {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: auto;
  padding: 0;
}

nav ul a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
